{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2></h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <body class="text-center">
    
  <form method="POST">
<div class="form-signin">
{% csrf_token %}
{% load static %}
    <img src="{% static 'log2.webp' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
    <label for="inputEmail" class="visually-hidden"></label>
    <input type="text" name="username" class="form-control" id="username" placeholder="User ID" required="" autofocus="">
    <label for="inputPassword" class="visually-hidden"></label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</div>
  </form>
  <hr>
            <div class="text-center">
                Need an account? <a href="{% url 'signupuser' %}">Sign Up here</a>
            </div>


    
  

</body>
        </div>
    </div>
{% endblock %}
